@model MvcMyMenu.Models.Restaurant
@{
    ViewBag.Title = "Browse";
}



    <h3>Browse Restaurants: @Model.Name 
    </h3>

 <ul>
        @foreach (var menu in Model.Menus)
        {
            <li>
                @Html.ActionLink(menu.Name, "Details", new { id = menu.MenuId})
            </li>
        }
    </ul>

